@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-syne: "Syne", sans-serif;

  --color-text-default: #d1d5db;
  --color-text-secondary: #818cf8;
}
html {
  scroll-behavior: smooth;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }
  h1 {
    @apply text-[32px] md:text-4xl leading-[125%] font-bold tracking-[-0.02em] font-syne;
  }
  h2 {
    @apply text-[24px] md:text-[40px] leading-[120%] font-bold font-syne;
  }
  h3 {
    @apply text-[14px] md:text-[16px] leading-[125%] font-semibold font-syne;
  }
  p {
    @apply text-[14px] md:text-[16px] leading-[170%] max-w-[65ch] font-montserrat;
  }
  body {
    @apply font-montserrat antialiased;
  }
  footer {
    @apply w-full py-6 text-center text-gray-400 text-sm bg-black border-t border-gray-700;
  }
}

@layer components {
  .sec-label {
    @apply text-text-secondary font-bold;
  }
  .span-skills {
    @apply px-3 py-1 rounded-md text-sm border transition-colors duration-200;
  }
  .ctt-meios {
    @apply font-bold text-text-secondary text-center;
  }
  .project-card-type {
    @apply text-indigo-400 text-xs uppercase tracking-[-0.02em];
  }
  .project-card-name {
    @apply text-2xl font-bold font-syne;
  }
  .project-card-description {
    @apply text-text-default text-sm leading-[170%];
  }
}
